/* Default styles */
* {
  margin: 0;
  box-sizing: border-box;
}
.wrap {
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* Header styles*/

h1 {
  font-family: "Raleway", sans-serif;
  color: #212121;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
}
.divider {
  background-color: #ff8b38;
  width: 64px;
  height: 2px;
  margin: 30px auto;
}
h4 {
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
}
/* Main styles*/
main {
  padding: 40px 0 0 0;
  font-size: 0;
}
.box {
  display: inline-block;
  width: 350px;
  margin: 0 16px;
}
.icon {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: 2px solid #ff8b38;
  border-radius: 50%;
}
h3 {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  margin: 29px 0;
}
p {
  font-size: 14px;
  color: #86878b;
  font-weight: 400;
}
/* Icon styles */
.icon--lamp {
  background: url("../img/lamp.png") no-repeat center center;
}
.icon--keyboard {
  background: url("../img/keyboard.png") no-repeat center center;
}
.icon--lightning {
  background: url("../img/lightning.png") no-repeat center center;
}
.picture {
  width: 1401px;
  height: 321px;
  margin: 102px auto 0 auto;
  padding: 76px 0 0 0;
}
.picture--town {
  background: url("../img/town.png");
}
h2 {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
}
hr {
  width: 64px;
  height: 2px;
  margin: 26px auto 23px auto;
  background: white;
  border: none;
}
h5 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 300;
}
button {
  width: 135px;
  height: 42px;
  margin: 33px auto 0;
    cursor: pointer;
    background: transparent;
    color: white;
    border-color: white;
}
button:hover{
    background-color: #ff8b38;
}
/* footer styles*/
footer {
  background-color: black;
  width: 1401px;
  height: 101px;
  margin: 0 auto;
}
img{
  width: 380px;
  height: 40px;
  margin: 23px auto 10px auto;
}
h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
}